*{
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    background-color: steelblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    border-left: 2px solid white;
    border-right: 2px solid white;
    margin: 0 10%;
    
  }
  /* HEADER */
  header{
      display: flex;
      margin-top: 5%;
      justify-content: space-between;
  }

  header h1{
      width: 70%;
      padding-right: 20px;
  }
  header.clock{
      width: 30%;
  }



  /* TIMER */
  .clock {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    margin-right: 125px;
  }
  
  .clock .number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: .75rem;
  }
  
  .clock .number1 { --rotation: 30deg; }
  .clock .number2 { --rotation: 60deg; }
  .clock .number3 { --rotation: 90deg; }
  .clock .number4 { --rotation: 120deg; }
  .clock .number5 { --rotation: 150deg; }
  .clock .number6 { --rotation: 180deg; }
  .clock .number7 { --rotation: 210deg; }
  .clock .number8 { --rotation: 240deg; }
  .clock .number9 { --rotation: 270deg; }
  .clock .number10 { --rotation: 300deg; }
  .clock .number11 { --rotation: 330deg; }
  
  .clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    width: 5px;
    height: 35%;
    background-color: black;
  }
  /* CENTER BLACK DOT */
  .clock::after {
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  
  /* MAIN CONTENT */
  main{
    min-width: 700px;
  }


  /* PET INFO */
  #pet-info{
      display: flex;
  }

.pet, .status {
    width: 50%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.pet {
    position: relative;
    text-align: center;
    border: 2px solid white;
}
.pet-name-container{
    border-bottom: 2px solid white;
}
.status{
    margin-bottom: 10%;
}
.status h3{
    margin-bottom: 0;
}

.status progress{
    height: 40px;
    width: 300px;
    border-radius: 0%;

}
/* ACTION & CHEAT CONTAINER */
.action-container, .cheat-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    border: 2px solid white;
}



  
  
  
  
  
  