*{
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    background-color: cadetblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-top: 100px solid white;
    margin: 0 10%;
    
  }
  /* HEADER */
  header{
      display: flex;
      height: 118px;
      margin-top: 5%;
      justify-content: space-between;
      align-items: center;
  }

  header h1{
      width: 50%;
      padding-right: 20px;
      margin-top: 0;
      border-bottom: 10px solid white;
  }
  header.clock{
      width: 30%;
  }



  /* TIMER */
  .clock {
    width: 100px;
    height: 100px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    margin-right: 125px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
  
  .clock .number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: .75rem;
  }
  
  .clock .number1 { --rotation: 30deg; }
  .clock .number2 { --rotation: 60deg; }
  .clock .number3 { --rotation: 90deg; }
  .clock .number4 { --rotation: 120deg; }
  .clock .number5 { --rotation: 150deg; }
  .clock .number6 { --rotation: 180deg; }
  .clock .number7 { --rotation: 210deg; }
  .clock .number8 { --rotation: 240deg; }
  .clock .number9 { --rotation: 270deg; }
  .clock .number10 { --rotation: 300deg; }
  .clock .number11 { --rotation: 330deg; }
  
  .clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    width: 5px;
    height: 35%;
    background-color: black;
  }
  /* CENTER BLACK DOT */
  .clock::after {
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  .time-info p {
      margin: 0;
      padding: 0;
  }

  .time-info{
      display: flex;
      justify-content: flex-end;
      margin-top: 1%;
      margin-right: 20%;
  }

  
  /* MAIN CONTENT */
  main{
    min-width: 700px;
  }

  /* PET INFO */
  #pet-info{
      display: flex;
      position: relative;
      overflow: hidden;
  }


.pet, .status {
    width: 50%;
    margin-top: 2%;
    margin-bottom: 5%;
    position: relative;
}

.pet {
    position: relative;
    text-align: center;
    /* border: 2px solid white; */
    background-image: url('/imgs/backgrounds/berryforest.png');

    background-size: cover;
    
}
.pet-name-container h2{
    padding: 10px;
    margin: 0;

}
.pet-name-container{
    background-color: white;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}


.pet-image{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.actual-pet-image{
  height: 150px;
    width: 150px;
    background: url('/imgs/baby/yurble_baby.png');
  margin-top: 35%;
  position: relative;
}


.abuse-anim{
  animation: abuse 3s ease-in-out infinite;
}
.play-anim{
  animation: play 1s ease-in-out infinite;
}

.feed-anim{
  animation: feed 5s ease-in-out infinite;
}

.baby-idle{
  animation: idleBaby 2s infinite;
}

.adult-idle{
  animation: idleAdult 6s ease-in-out infinite;
}

.sleeping{
  animation: sleeping 5s ease-in-out infinite;
}

@keyframes abuse{
  20%{
    
  }

  50%{
    transform: translateY(-50%) translateX(5%);
  }

  80%{
    transform: translateY(20%) rotate(25deg);
  }

  100%{
    transform: translateY(20%) rotate(25deg);
  }
}

@keyframes play{
  0%{
    transform: rotate(-5deg);
  }
  15%{
    transform: rotate(5deg);
  }
  30%{
    transform: rotate(-5deg);
  }
  45%{
    transform: rotate(5deg);
  }
  60%{
    transform: rotate(-5deg);
  }
  75%{
    transform: rotate(5deg);
  }

100%{
  transform: rotate(-5deg)
}
}

@keyframes feed{
  0%{
    transform: scaleX(-1);
  }
  10%{
    transform: translateX(20%) scaleX(-1) rotate(-5deg) ;
  }
  20%{
    transform: translateX(40%) scaleX(-1) rotate(5deg) ;
  }
  30%{
    transform: translateX(40%) scaleX(-1) rotate(-3deg) ;
  }
  33%{
    transform: translateX(40%) scaleX(-1) rotate(-1deg) ;
  }
  36%{
    transform: translateX(40%) scaleX(-1) rotate(-3deg) ;
  }
  39%{
    transform: translateX(40%) scaleX(-1) rotate(-1deg) ;
  }
  41%{
    transform: translateX(40%) scaleX(-1) rotate(-3deg) ;
  }
  44%{
    transform: translateX(40%) scaleX(-1) rotate(-1deg) ;
  }
  47%{
    transform: translateX(40%) scaleX(-1) rotate(-3deg) ;
  }
  50%{
    transform: translateX(30%) rotate(5deg) scaleX(1);
  }
  60%{
    transform: translateX(20%) rotate(-5deg) ;
  }
  80%{
    transform: translateX(10%) rotate(5deg) ;
  }
  90%{
    transform: translateX(0%) rotate(-5deg) ;
  }
  100%{
    transform: scale(1);
  }
}

@keyframes sleeping{
  0%{
    transform: scale(1);
  }
  30%{
    transform: scale(1.04);
  }
  100%{
    transform: scale(1);
  }
}


@keyframes idleAdult{
  0%{
    transform: rotate(-3deg) translateX(0%);
  }

  15%{
    transform: rotate(3deg) translateX(5%);
  }

33%{
  transform: rotate(-3deg) translateX(10%) ;
}
50%{
  transform: rotate(3deg)translateX(0%);
}


  67%{
    transform: rotate(-3deg) translateX(-10%);
  }
  80%{
    transform: rotate(3deg) translateX(-5%);
  }
  100%{
    transform: rotate(-3deg) translateX(0%);
  }
}


@keyframes idleBaby{

  0%{
    transform: rotate(3deg);
  }
25%{
  transform: rotate(-3deg);
}

  50%{
    transform: rotate(3deg);
  }

  75%{
    transform: rotate(-3deg);
  }
  100%{
    transform: rotate(3deg);
  }
}



.actual-pet-overlay{
  position: absolute;
  margin-top: 14%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.pet-footer{
    position: absolute;
    bottom: 0;
    height: 15px;
    width: 100%;
    margin: 10px 0 0;
    font-size: 10px;
    
}
/* STATUS BARS  */
.status h3{
    margin-bottom: 0;
}

.status progress{
    height: 40px;
    width: 300px;
    border-radius: 0%;
    border: 2px solid black;

}
.status progress[value]::-webkit-progress-value {
    background-color: green;
      border-radius: 2px; 
      background-size: 35px 20px, 100% 100%, 100% 100%;
    border-right: 2px solid black;
  }

      
.status progress[value]::-webkit-progress-bar {
    background-color: #eee;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
  /* RED BAR BACKGROUND */
.hunger-bar progress[value]::-webkit-progress-bar {
    background-color: red;
  }
.happiness-bar progress[value]::-webkit-progress-bar {
    background-color: red;
  }
.sleepiness-bar progress[value]::-webkit-progress-bar {
    background-color: red;
  }
.age-container{
    display: flex;
    
}


#baby , #adult, #final{
    width: 40px;
    height: 40px;
    background-color: #eee;
    border: 2px solid black;
    margin-right: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

#baby{
    background-color: green;
}
  /* BASIC INFO AND CREATE A PET */
  .create-pet, .basic-info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  z-index: 2;
  background-color: #eee;
  padding: 5px;
  }



  .slideUp{
    transform: translateY(120%);
  transition: transform 1.2s linear;
  }
  .slideDown{
    transform: translateY(-120%);
  transition: transform 1.2s linear;
  }

.test1 progress, .test2 progress {
    height: 15px;
    width: 150px;
}

.create-pet p {
    margin: 0;
    padding: 0;
}

.create-pet button {
    margin-top: 15px;
    height: 40px;
    width: 150px;
}

.test2 progress[value]::-webkit-progress-bar {
    background-color: red;
  } 

/* ACTION & CHEAT CONTAINER */
.action-container, .cheat-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    border: 2px solid white;
    margin-bottom: 10%;
}

.cheat-container{
    height: 200px;
    background: black;
    color: forestgreen;
    border: 2px solid forestgreen;
}
.cheat-container button{
    background-color: darkslategrey;
    color: forestgreen;
}
.cheat-container button:hover{
    background-color: lightgray;
    
}
.action-container button, .cheat-container button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}
button:hover{
    background-color: green;
    cursor: pointer;
}
.cheat-menu-btn{
    width: 2px;
    height: 2px;
    background-color: black;
    margin-bottom: 5%;
}
.cheat-menu-btn:hover{
    cursor: pointer;
}
.hidden{
    display: none;
}


  
  
  
  
  
  