*{
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    background-color: steelblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-top: 100px solid white;
    margin: 0 10%;
    
  }
  /* HEADER */
  header{
      display: flex;
      margin-top: 5%;
      justify-content: space-between;
      align-items: center;
  }

  header h1{
      width: 50%;
      padding-right: 20px;
      margin-top: 0;
      border-bottom: 10px solid white;
  }
  header.clock{
      width: 30%;
  }



  /* TIMER */
  .clock {
    width: 100px;
    height: 100px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    margin-right: 125px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
  
  .clock .number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: .75rem;
  }
  
  .clock .number1 { --rotation: 30deg; }
  .clock .number2 { --rotation: 60deg; }
  .clock .number3 { --rotation: 90deg; }
  .clock .number4 { --rotation: 120deg; }
  .clock .number5 { --rotation: 150deg; }
  .clock .number6 { --rotation: 180deg; }
  .clock .number7 { --rotation: 210deg; }
  .clock .number8 { --rotation: 240deg; }
  .clock .number9 { --rotation: 270deg; }
  .clock .number10 { --rotation: 300deg; }
  .clock .number11 { --rotation: 330deg; }
  
  .clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    width: 5px;
    height: 35%;
    background-color: black;
  }
  /* CENTER BLACK DOT */
  .clock::after {
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  .time-info p {
      margin: 0;
      padding: 0;
  }

  .time-info{
      display: flex;
      justify-content: flex-end;
      margin-top: 1%;
      margin-right: 20%;
  }

  
  /* MAIN CONTENT */
  main{
    min-width: 700px;
  }


  /* PET INFO */
  #pet-info{
      display: flex;
  }


.pet, .status {
    width: 50%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.pet {
    position: relative;
    text-align: center;
    border: 2px solid white;
    
}
.pet-name-container h2{
    padding: 10px;
    margin: 0;
}
.pet-name-container{
    background-color: white;
}
.pet-image img{
    justify-content: center;
    margin-top: 15%;
    
}
.pet-footer{
    position: absolute;
    bottom: 0;
    height: 15px;
    width: 100%;
    margin: 10px 0 0;
    font-size: 10px;
    
}
.status{
    margin-bottom: 10%;
}
.status h3{
    margin-bottom: 0;
}

.status progress{
    height: 40px;
    width: 300px;
    border-radius: 0%;
    border: 2px solid black;

}
.status progress[value]::-webkit-progress-value {
    background-color: green;
      border-radius: 2px; 
      background-size: 35px 20px, 100% 100%, 100% 100%;
    border-right: 2px solid black;
  }

      
.status progress[value]::-webkit-progress-bar {
    background-color: #eee;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
.hunger-bar progress[value]::-webkit-progress-bar {
    background-color: red;
  }
.age-container{
    display: flex;
}
#baby, #adult, #final{
    width: 40px;
    height: 40px;
    background-color: #eee;
    border: 2px solid black;
    margin-right: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
#baby{
    background-color: green;
}



/* ACTION & CHEAT CONTAINER */
.action-container, .cheat-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    border: 2px solid white;
}
.action-container button, .cheat-container button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}
button:hover{
    background-color: green;
    cursor: pointer;
}
.cheat-menu-btn{
    width: 2px;
    height: 2px;
    background-color: black;
}
.hidden-menu{
    display: none;
}


  
  
  
  
  
  